*{
    margin: 0%;
    padding: 0%;
}

.cabecalho{
    display: flex;
    background-color: gold;
}
h1{
    text-align: center;
    font-size: 90px;
    color: black;
    margin-left: 35%;
    margin-top: 2%;
}
.icone{
    width: 10%;
    height: 10%;
    margin-left: 30%; 
}
body{
    background-image: url(scat.jpg);
}
h2{
    color: black;
    font-size: 60px;
    text-align: center;
}
.emz{
    width: 20%;
    height: 20%;
}
div2{
    font-size: 40px;
    margin-top: 10%;
}
div3{
    display: flex;
}
.piper{
    height: 20%;
    width: 20%;
    margin-left: 10%;
}
div4{
    font-size: 40px;
    margin-top: 10%;
    border-color: black;
    border-style: groove;
    background-color: aliceblue;
    display: inline-block;
}
div5{
    display: flex;
}
.edgar{
    height: 18%;
    width: 18%;
}
div6{
    font-size: 40px;
    margin-top: 6%;
    border-color: black;
    border-style: groove;
    background-color: aliceblue;
    display: block;
}
.cordelius{
    height: 20%;
    width: 20%;
}
div7{
    font-size: 40px;
    margin-top: 10%;
}