*{
    margin: 0%;
    padding: 0%;
}

.cabecalho{
    display: flex;
    background-color: gold;
}
h1{
    text-align: center;
    font-size: 100px;
    color: black;
}
ul{
font-size: 30px;
text-align: start;
color: lightskyblue;
}
.icone{
    width: 10%;
    height: 10%;
    margin-left: 50%;
    
}