*{
    margin: 0%;
    padding: 0%;
}

.cabecalho{
    display: flex;
    padding: 50%;
    background-color: black;
}

h1{
    text-align: center;
    font-size: 100px;
    color: gold;
}
ul{
font-size: 30px;
text-align: left;
color: lightskyblue;
}
.cabecalho{
border-style: groove;
color: black;
border-color: black;
}
#icone{
    padding: 10;
}